

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/admin/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <app-navbar-tuteur></app-navbar-tuteur>





      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
       


        
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Ajout de Tache</h4>
                <p class="card-description"> Ajout de Tache </p>
                <form class="forms-sample" (ngSubmit)="onSubmit()" >
                  <div class="form-group">
                    <label for="exampleInputName1">Titre de tache  </label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="nom"  [(ngModel)]="tache.titre" name="titre" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Description </label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="prenom"  [(ngModel)]="tache.description" name="description" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">Date</label>
                    <input type="date" class="form-control" id="exampleInputPassword4" placeholder="email"  [(ngModel)]="tache.date" name="date" required>
                  </div>
<!-- 
                  <div class="form-group">
                    <label for="tuteur">stagiaire:</label>
                    <select id="tuteur" [(ngModel)]="tache.stagiaire" name="tuteur" class="form-control form-control-lg" required>
                      <option *ngFor="let tuteur of listusers"  class="form-control" [value]="tuteur">{{ tuteur.nom }} {{ tuteur.prenom }}</option>
                    </select>
                  </div> -->

                  <div class="form-group">
                    <label for="user">Stagiaire</label>
                    <select *ngFor="let user of listusers"  class="form-control" id="stagiaire" name="stagiaire" [(ngModel)]="tache.stagiaire" >
                     
                      <option    [ngValue]="user">{{ user.prenom }}-{{ user.nom }}</option>
                   
                    </select>
                  </div>

                  <!-- <div class="form-group">
                    <label for="exampleInputPassword4">cin</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="cin">
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="exampleSelectGender">faculté </label>
                    <select class="form-control" id="exampleSelectGender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div> -->
                  <!-- <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                      </span>
                    </div>
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="exampleInputCity1">Faculté</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                  </div> -->

                  <!-- <div class="form-group">
                    <label for="exampleInputCity1">Niveau</label>
                    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="exampleTextarea1">Textarea</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                  </div> -->
                  <button type="submit" class="btn btn-primary mr-2" >Submit</button>
                  <button class="btn btn-dark">Cancel</button>
                </form>
              </div>
            </div>
          </div>



</div>
    </div>


  <script src="/assets/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/admin/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/admin/js/off-canvas.js"></script>
  <script src="/assets/admin/js/hoverable-collapse.js"></script>
  <script src="/assets/admin/js/misc.js"></script>
  <script src="/assets/admin/js/settings.js"></script>
  <script src="/assets/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/assets/admin/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>
</html>