
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/admin/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <app-navbar></app-navbar>





      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
       


        
        <div class="content-wrapper" style="color: white;">

            <div class="container-fluid" style="color: white;" >
              

        <full-calendar [options]="calendarOptions" style="background-color: grey;"></full-calendar>
        <div class="announcement" style="background-color: #191c24; padding: 10px; border-radius: 5px; color: white; margin-bottom: 20px;">
          <p style="margin: 0; font-size: 16px;">
            <strong>Légende :</strong> <br>
            <span style="color: red; font-weight: bold;">● Réunions</span> <br>
            <span style="color: green; font-weight: bold;">● Tâches</span>
          </p>
        </div>
        <input type="text" [(ngModel)]="searchTerm" (input)="filterEvents()">
            </div>
        </div>

</div>
    </div>


  <script src="/assets/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/admin/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/admin/js/off-canvas.js"></script>
  <script src="/assets/admin/js/hoverable-collapse.js"></script>
  <script src="/assets/admin/js/misc.js"></script>
  <script src="/assets/admin/js/settings.js"></script>
  <script src="/assets/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/assets/admin/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>
</html>