




      
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/admin/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/admin/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/admin/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <app-navbar-stagiaire></app-navbar-stagiaire>





    
      
      <div class="col-lg-12 grid-margin stretch-card">
        <br> <br> <br> <br> <br> <br>    <br> <br> <br> <br> <br> <br>
        <h2 class="mt-2 text-center font-weight-light text-uppercase">Mes Reclamations</h2>
<!--         
        <div class="card-body" *ngFor="let reclamtion of users">
            <h3 class="mb-4">{{reclamtion.objet}}</h3>
            <p> {{reclamtion.description}}</p>
            
           
        </div>
     -->
 
     <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <h4 class="card-title mb-1" style="color: red;">Mes reclamtions</h4>
            <p class="text-muted mb-1" style="color: white;">Détails</p>
          </div>
          <div class="row" *ngFor="let reclamtion of users">
            <div class="col-12">
              <div class="preview-list">
                <div class="preview-item border-bottom">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-primary">
                      <i class="mdi mdi-file-document"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-sm-flex flex-grow">
                    <div class="flex-grow">
                      <h6 class="preview-subject" style="color: aliceblue;">{{reclamtion.objet}}</h6>
                      <p class="text-muted mb-0" style="color: aliceblue;" >{{reclamtion.description}}</p>
                      <br> <br> <br>
                      <p class="text-muted" style="color: aliceblue;">{{reclamtion.date}}</p>
                    </div>
                    <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                      <!-- <p class="text-muted" style="color: aliceblue;">{{reclamtion.date}}</p> -->
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div>
                </div>
               
                
               
                
              </div>
            </div>
          </div>
        </div>
      </div>


      </div>

        
      



</div>
    


  <script src="/assets/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/admin/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/admin/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/assets/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/admin/js/off-canvas.js"></script>
  <script src="/assets/admin/js/hoverable-collapse.js"></script>
  <script src="/assets/admin/js/misc.js"></script>
  <script src="/assets/admin/js/settings.js"></script>
  <script src="/assets/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/assets/admin/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>
</html>



      